@using POC_WhySPA.Areas.MusicSpa.Resources.Albums
<h3>Edit Music Album</h3>
<div class="alert alert-success alert-dismissable" data-ng-show="saveSuccess === true">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Your changes have been saved successfully.
</div>
<div class="alert alert-danger alert-dismissable" data-ng-show="saveSuccess === false">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Unknown error occurred while processing your request. Please try again.
</div>
<form class="form-horizontal" role="form" data-ng-submit="saveAlbum()">
    <div class="form-group">
        <label for="txtAlbumTitle" class="col-sm-2 control-label">@AlbumEdit.Title</label>
        <div class="col-sm-10">
            <input type="text" id="txtAlbumTitle" data-ng-model="album.Title" required class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="txtAlbumPrice" class="col-sm-2 control-label">@AlbumEdit.Price</label>
        <div class="col-sm-10">
            <input type="text" id="txtAlbumPrice" data-ng-model="album.Price" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="selectAlbumGenres" class="col-sm-2 control-label">@AlbumEdit.Genre</label>
        <div class="col-sm-10">
            <select id="selectAlbumGenres" data-ng-model="album.Genre.Key" class="form-control">
                <option data-ng-selected="{{genre.Key === album.Genre.Key}}"
                    data-ng-repeat="genre in genres" value="{{genre.Key}}">{{genre.Value}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="selectAlbumArtists" class="col-sm-2 control-label">@AlbumEdit.Artist</label>
        <div class="col-sm-10">
            <select id="selectAlbumArtists" data-ng-model="album.Artist.Key" class="form-control">
                <option data-ng-selected="{{artist.Key === album.Artist.Key}}"
                    data-ng-repeat="artist in artists" value="{{artist.Key}}">{{artist.Value}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-default" data-ng-click="navigateToList()">Return to List</button>
        </div>
    </div>
</form>
