@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <title>Jasmine Spec Runner</title>
    <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
    <script src="~/Scripts/jasmine/jasmine.js"></script>
    <script src="~/Scripts/jasmine/jasmine-html.js"></script>
    <script src="~/Scripts/jasmine/boot.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/bower_components/ng-table/ng-table.js"></script>
    <script src="~/Scripts/angular-mocks.js"></script>
    <!-- include source files here... -->
    <script src="~/Scripts/dependencies/musicAlbumsModule.js"></script>
    <script src="~/Scripts/dependencies/musicAlbumsController.js"></script>
    <!-- include spec files here... -->
    <script src="~/Scripts/tests/musicAlbumsControllerTests.js"></script>
</head>

<body>
</body>
</html>
