@{
    ViewBag.Title = "Why SPA?";
}

<h2>Why SPA?</h2>
<a href="@Url.Action("Index", "Albums", new {area = "Music"})" class="btn btn-default btn-block">Music Store using Traditional ASP.NET MVC</a>
<a href="@Url.Action("Index", "Albums", new {area = "MusicSpa"})/" class="btn btn-default btn-block">Music Store using SPA Design Principles [ASP.NET MVC + AngularJS]</a>
